{% extends "base.html" %}

{% block content %}
<h1 class="title">
  	Privacy policy: The app will collect your email address and name. This information will NOT be sold to any third party or used for ads.
</h1>
<h1>
	Terms of service: These are the terms you agree to. You are atleast 18 years of age. You will not mine data from the website. You won't use the website malicious purposes. We don't take responsibility for any predictions on the website. Its for experimental purposes. 
</h1>
<div style="width: auto; margin-left: auto; margin-right: auto">
<img src="https://i.imgflip.com/5akl5h.jpg" title="made at imgflip.com"/>
</div>
{% endblock %}
