{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Live Markets
</h1>
<body>
  <div> 
    <h1>Welcome {{current_user.name}}!</h1>
    <div>
    <div id="blog-post" class="col-lg-12">
        {% for q in questions %}
        <h3 class="title" id="question"><a href="{{ url_for('main.questionMarket') }}">{{q.question_text}}</a></h3> 
        <h6 class="text" id="explanation">{{q.explanation_text}}</h6>
        <p class="text" id='resolution'>{{q.resolution_rule_text}}</p>
        <p class="text" id='bet-deadline'>betting deadline: {{q.deadline_for_betting}}</p>
        <p class="text" id='resolution-deadline'>resolution deadline: {{q.deadline_for_resolving}}</p>

        {% endfor %}
    
    </div>  
  	</div>
  <!-- <script src="/static/profile.js"></script> -->
</body>
{% endblock %}