{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Live Markets
</h1>
<body>
  <div class="blog-post">

    <h1>Welcome {{current_user.name}}!</h1>
    <meta id="user_id" data-name="{{current_user.user_id}}">
    <meta id="question_id" data-name="{{question.question_id}}">
    <div class="card has-background-grey-lighter">
        <div class="card-content">
            <h1 class="text" id="question">{{question.question_text}}</h1>
            <p class="text" id="explanation">{{question.explanation_text}}</p>
            <p class="text" id='resolution'>{{question.resolution_rule_text}}</p>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item" id='bet-deadline'>betting deadline: {{question.deadline_for_betting}}</a>
            <a class="card-footer-item" id='resolution-deadline'>resolution deadline: {{question.deadline_for_resolving}}</a>
        </footer>
    </div>
    <p class="mb-4"></p>
    <table id="op-table" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Option</th>
                <th scope="col">PredMarket's Probability</th>
                <th scope="col">Current Position</th>
                <th scope="col">Buy/Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for op in options %}
                <form action="/questionMarket" method="POST">
                    <tr>
                        <th scope="row">{{op.option_text}}</th> 
                        <td><div title={{op.op}}>{{op.price}}</div></td>
                        <td>{{op.stake}}</td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control" id="num_shares_{{op.option_id}}" name="option_{{op.option_id}}" min="0" >
				<button id="sell_button_{{op.option_id}}" type="button" class="sell-now btn btn-outline-secondary">Sell</button>
				<button id="buy_button_{{op.option_id}}" type="button" class="buy-now btn btn-outline-secondary">Buy</button>

                                
                            </div>
                        </td>
                    </tr>
                </form>

  </div>
            {% endfor %}
        </tbody>

   </table>
  
   <!-- Modal for buy conf -->
   <div class="modal buy-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirmation</p>
      <button class="delete delete-buy-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body buy-modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button confirm-buy is-success">Confirm</button>
    </footer>
  </div>
</div>

   <!-- Modal for sell conf -->
   <div class="modal sell-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirmation</p>
      <button class="delete delete-sell-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body sell-modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button confirm-sell is-success">Confirm</button>
    </footer>
  </div>
</div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>



$(".buy-now").click(function() {

console.log("Clicked Input element");
var butID = this.id;
console.log(butID);
if(butID.indexOf('button')!==-1)
{
console.log("inside if");
but_vals = butID.split('_');
op_id = but_vals[2]
if(but_vals[0]=="sell")
        isBuy=false
else
        isBuy=true
numShares = document.getElementById('num_shares_' + op_id).value
	data = JSON.stringify({"isBuy":isBuy, "option_id":op_id, "numShares":numShares});

    $.ajax({
      type : "POST",
      url : "/estimate",
      data: data,
      contentType: 'application/json',
      success: function(result) {
	     $(".buy-modal").addClass("is-active");
         console.log(result);
	      if(result['payload']['cost']>0.01)
	     $(".buy-modal-card-body").html("<p style=\"color:black\">Cost of transaction:" + result['payload']['cost'] +"</p>");
	      else
		      $(".buy-modal-card-body").html("<p style=\"color:black\">Cost of transaction: 0.01</p>");

      }
   });

	$(".confirm-buy").click(function() {
		question_id = $('#question_id').data();
		user_id = $('#user_id').data();
		data = JSON.stringify({"isBuy":isBuy, "option_id":op_id, "numShares":numShares, "question_id":question_id['name'], "user_id": user_id['name']});
console.log("Clicked Confirm!");
		    $.ajax({
      type : "POST",
      url : "/processQuestion",
      data: data,
      contentType: 'application/json',
      success: function(result) {
             window.location.replace(result);
             console.log(result);
      }
   });
});

}

});

$(".sell-now").click(function() {

console.log("Clicked Input element");
var butID = this.id;
console.log(butID);
if(butID.indexOf('button')!==-1)
{
console.log("inside if");
but_vals = butID.split('_');
op_id = but_vals[2]
if(but_vals[0]=="sell")
        isBuy=false
else
        isBuy=true
numShares = document.getElementById('num_shares_' + op_id).value
        data = JSON.stringify({"isBuy":isBuy, "option_id":op_id, "numShares":numShares});

    $.ajax({
      type : "POST",
      url : "/estimate",
      data: data,
      contentType: 'application/json',
      success: function(result) {
             $(".sell-modal").addClass("is-active");
         console.log(result);
              if(result['payload']['cost']>0.01)
             $(".sell-modal-card-body").html("<p style=\"color:black\">You will get this amount:" + result['payload']['cost']+"</p>");
              else
                      $(".sell-modal-card-body").html("<p style=\"color:black\">You will get this amount: 0.01</p>");

      }
   });

        $(".confirm-sell").click(function() {
		question_id = $('#question_id').data();
                user_id = $('#user_id').data();
                data = JSON.stringify({"isBuy":isBuy, "option_id":op_id, "numShares":numShares, "question_id":question_id['name'], "user_id": user_id['name']});

console.log("Clicked Confirm!");
		$.ajax({
      type : "POST",
      url : "/processQuestion",
      data: data,
      contentType: 'application/json',
      success: function(result) {
             window.location.replace(result); 
             console.log(result);
      }
   });

});

}

});

$(".delete-buy-modal").click(function() {
   $(".buy-modal").removeClass("is-active");
});

$(".delete-sell-modal").click(function() {
   $(".sell-modal").removeClass("is-active");
});



	                         
</script>



</body>
{% endblock %}
